@font-face {
    font-family: 'KievitPro';
    src: url("font/KievitPro-ThinItalic.eot");
    src: url("font/KievitPro-ThinItalic.eot?#iefix") format("embedded-opentype"), url("font/KievitPro-ThinItalic.woff2") format("woff2"), url("font/KievitPro-ThinItalic.woff") format("woff"), url("font/KievitPro-ThinItalic.ttf") format("truetype"), url("font/KievitPro-ThinItalic.svg#KievitPro-ThinItalic") format("svg");
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'KievitPro';
    src: url("font/KievitPro-Medium.eot");
    src: url("font/KievitPro-Medium.eot?#iefix") format("embedded-opentype"), url("font/KievitPro-Medium.woff2") format("woff2"), url("font/KievitPro-Medium.woff") format("woff"), url("font/KievitPro-Medium.ttf") format("truetype"), url("font/KievitPro-Medium.svg#KievitPro-Medium") format("svg");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'KievitPro';
    src: url("font/KievitPro-Italic.eot");
    src: url("font/KievitPro-Italic.eot?#iefix") format("embedded-opentype"), url("font/KievitPro-Italic.woff2") format("woff2"), url("font/KievitPro-Italic.woff") format("woff"), url("font/KievitPro-Italic.ttf") format("truetype"), url("font/KievitPro-Italic.svg#KievitPro-Italic") format("svg");
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'KievitPro';
    src: url("font/KievitPro-BlackItalic.eot");
    src: url("font/KievitPro-BlackItalic.eot?#iefix") format("embedded-opentype"), url("font/KievitPro-BlackItalic.woff2") format("woff2"), url("font/KievitPro-BlackItalic.woff") format("woff"), url("font/KievitPro-BlackItalic.ttf") format("truetype"), url("font/KievitPro-BlackItalic.svg#KievitPro-BlackItalic") format("svg");
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'KievitPro';
    src: url("font/KievitPro-LightItalic.eot");
    src: url("font/KievitPro-LightItalic.eot?#iefix") format("embedded-opentype"), url("font/KievitPro-LightItalic.woff2") format("woff2"), url("font/KievitPro-LightItalic.woff") format("woff"), url("font/KievitPro-LightItalic.ttf") format("truetype"), url("font/KievitPro-LightItalic.svg#KievitPro-LightItalic") format("svg");
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'KievitPro';
    src: url("font/KievitPro-MediumItalic.eot");
    src: url("font/KievitPro-MediumItalic.eot?#iefix") format("embedded-opentype"), url("font/KievitPro-MediumItalic.woff2") format("woff2"), url("font/KievitPro-MediumItalic.woff") format("woff"), url("font/KievitPro-MediumItalic.ttf") format("truetype"), url("font/KievitPro-MediumItalic.svg#KievitPro-MediumItalic") format("svg");
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'KievitPro-Book';
    src: url("font/KievitPro-Book.eot");
    src: url("font/KievitPro-Book.eot?#iefix") format("embedded-opentype"), url("font/KievitPro-Book.woff2") format("woff2"), url("font/KievitPro-Book.woff") format("woff"), url("font/KievitPro-Book.ttf") format("truetype"), url("font/KievitPro-Book.svg#KievitPro-Book") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'KievitPro-BookItalic';
    src: url("font/KievitPro-BookItalic.eot");
    src: url("font/KievitPro-BookItalic.eot?#iefix") format("embedded-opentype"), url("font/KievitPro-BookItalic.woff2") format("woff2"), url("font/KievitPro-BookItalic.woff") format("woff"), url("font/KievitPro-BookItalic.ttf") format("truetype"), url("font/KievitPro-BookItalic.svg#KievitPro-BookItalic") format("svg");
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'KievitPro';
    src: url("font/KievitPro-Thin.eot");
    src: url("font/KievitPro-Thin.eot?#iefix") format("embedded-opentype"), url("font/KievitPro-Thin.woff2") format("woff2"), url("font/KievitPro-Thin.woff") format("woff"), url("font/KievitPro-Thin.ttf") format("truetype"), url("font/KievitPro-Thin.svg#KievitPro-Thin") format("svg");
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'KievitPro';
    src: url("font/KievitPro-Bold.eot");
    src: url("font/KievitPro-Bold.eot?#iefix") format("embedded-opentype"), url("font/KievitPro-Bold.woff2") format("woff2"), url("font/KievitPro-Bold.woff") format("woff"), url("font/KievitPro-Bold.ttf") format("truetype"), url("font/KievitPro-Bold.svg#KievitPro-Bold") format("svg");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'KievitPro';
    src: url("font/KievitPro-ExtraLight.eot");
    src: url("font/KievitPro-ExtraLight.eot?#iefix") format("embedded-opentype"), url("font/KievitPro-ExtraLight.woff2") format("woff2"), url("font/KievitPro-ExtraLight.woff") format("woff"), url("font/KievitPro-ExtraLight.ttf") format("truetype"), url("font/KievitPro-ExtraLight.svg#KievitPro-ExtraLight") format("svg");
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'KievitPro';
    src: url("font/KievitPro-ExtraBoldItalic.eot");
    src: url("font/KievitPro-ExtraBoldItalic.eot?#iefix") format("embedded-opentype"), url("font/KievitPro-ExtraBoldItalic.woff2") format("woff2"), url("font/KievitPro-ExtraBoldItalic.woff") format("woff"), url("font/KievitPro-ExtraBoldItalic.ttf") format("truetype"), url("font/KievitPro-ExtraBoldItalic.svg#KievitPro-ExtraBoldItalic") format("svg");
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'KievitPro';
    src: url("font/KievitPro-ExtraLightItalic.eot");
    src: url("font/KievitPro-ExtraLightItalic.eot?#iefix") format("embedded-opentype"), url("font/KievitPro-ExtraLightItalic.woff2") format("woff2"), url("font/KievitPro-ExtraLightItalic.woff") format("woff"), url("font/KievitPro-ExtraLightItalic.ttf") format("truetype"), url("font/KievitPro-ExtraLightItalic.svg#KievitPro-ExtraLightItalic") format("svg");
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'KievitPro';
    src: url("font/KievitPro-Regular.eot");
    src: url("font/KievitPro-Regular.eot?#iefix") format("embedded-opentype"), url("font/KievitPro-Regular.woff2") format("woff2"), url("font/KievitPro-Regular.woff") format("woff"), url("font/KievitPro-Regular.ttf") format("truetype"), url("font/KievitPro-Regular.svg#KievitPro-Regular") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'KievitPro';
    src: url("font/KievitPro-ExtraBold.eot");
    src: url("font/KievitPro-ExtraBold.eot?#iefix") format("embedded-opentype"), url("font/KievitPro-ExtraBold.woff2") format("woff2"), url("font/KievitPro-ExtraBold.woff") format("woff"), url("font/KievitPro-ExtraBold.ttf") format("truetype"), url("font/KievitPro-ExtraBold.svg#KievitPro-ExtraBold") format("svg");
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'KievitPro';
    src: url("font/KievitPro-Black.eot");
    src: url("font/KievitPro-Black.eot?#iefix") format("embedded-opentype"), url("font/KievitPro-Black.woff2") format("woff2"), url("font/KievitPro-Black.woff") format("woff"), url("font/KievitPro-Black.ttf") format("truetype"), url("font/KievitPro-Black.svg#KievitPro-Black") format("svg");
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'KievitPro';
    src: url("font/KievitPro-BoldItalic.eot");
    src: url("font/KievitPro-BoldItalic.eot?#iefix") format("embedded-opentype"), url("font/KievitPro-BoldItalic.woff2") format("woff2"), url("font/KievitPro-BoldItalic.woff") format("woff"), url("font/KievitPro-BoldItalic.ttf") format("truetype"), url("font/KievitPro-BoldItalic.svg#KievitPro-BoldItalic") format("svg");
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'KievitPro';
    src: url("font/KievitPro-Light.eot");
    src: url("font/KievitPro-Light.eot?#iefix") format("embedded-opentype"), url("font/KievitPro-Light.woff2") format("woff2"), url("font/KievitPro-Light.woff") format("woff"), url("font/KievitPro-Light.ttf") format("truetype"), url("font/KievitPro-Light.svg#KievitPro-Light") format("svg");
    font-weight: 300;
    font-style: normal;
}
