@mixin font-set($size) {
    font-size: rem($size);
    line-height: rem($size);
}

html {
    font-family: 'KievitPro', Frutiger, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
}

h1, h2, h3, h4, strong {
    font-weight: 500;
    font-style: normal;
}

strong em, em strong {
    font-weight: 500;
    font-style: italic;
}

em {
    font-weight: normal;
    font-style: italic;
}

h1 {
    @include font-set(57px);
    margin-bottom: 0;

    @include mobile {
        @include font-set(38px);
    }
}

h2 {
    @include font-set(43px);

    @include mobile {
        @include font-set(27px);
    }
}

h3 {
    @include font-set(26px);

    @include mobile {
        @include font-set(18px);
    }
}

h4 {
    @include font-set(18px);
}

p {
    font-size: rem(24px);
    line-height: rem(30px);

    @include mobile {
        font-size: rem(20px);
    }
}

.text-large {
    font-size: rem(30px);
    line-height: rem(40px);

    @include mobile {
        font-size: rem(24px);
        line-height: rem(34px);
    }
}

.text-small {
    font-size: 1rem;
    line-height: rem(24px);

    @include mobile {
        font-size: rem(14px);
    }
}

sup, sub {
    font-weight: 400;
    position: relative;
}

sup {
    vertical-align: top;
    top: -.25em;
}

sub {
    vertical-align: bottom;
    bottom: -.25em;
}

.mobile::before {
    content: '(';
}
